{% extends "base.html" %}
{% block content  %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Profile</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Profile</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Profile</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    {% if messages %}
                    {% for msg in messages  %}
                    <div class="alert alert-{{ msg.tags }}" role='alert'>
                        <strong>{{ msg }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form method='POST' novalidate="novalidate">
                        {% csrf_token %}
                        <div class="control-group">
                            {% for field in form %}
                            {{ field.label }}
                            {{ field }}
                            <p class="help-block text-danger">{{error}}</p>
                                {% if field.errors %}
                                    {% for error in field.errors  %}
                                    <p class="help-block text-danger">{{error}}</p>
                                    {% endfor %}
                                {% endif %}
                          {% endfor %}
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
          
        </div>
    </div>
{% endblock %}

